.operating-button {
    background: rgb(234, 174, 54);
    background: linear-gradient(90deg, rgba(234, 174, 54, 1) 0%, rgba(75, 43, 122, 1) 89%);
    color: #000;
}
.card-content {
    background: linear-gradient(116deg,var(--token-85846c91-51ea-42e0-9240-e9a835b52b31, #e149ed) 0%,var(--token-fa993d76-a5ae-46c8-831c-7bc48e3bf73a, rgb(75, 43, 122)) 100%);;
}